<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Waste Sorting App</title>
  </head>

  <body>
    <div class="container">
      <h1 class="title">Waste Sorting App</h1>

      <!-- Image Upload Form -->
      <div class="form-container">
        <h2>Upload or Capture an Image</h2>
        <form id="image-form" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <input
            type="file"
            name="image"
            id="image-input"
            class="file-input"
            accept="image/*"
          />
          <button type="submit" class="upload-btn" id="img-upload-btn">
            Upload Image
          </button>
        </form>
        <div class="capture-container">
          <video id="video" autoplay></video>
          <canvas id="canvas" style="display: none"></canvas>
          <button id="capture-btn">Capture Image</button>
        </div>
      </div>

      <!-- Video Upload Form -->
      <div class="form-container">
        <h2>Upload or Capture a Video</h2>
        <form id="video-form" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <input
            type="file"
            name="video"
            id="video-input"
            class="file-input"
            accept="video/*"
          />
          <button type="submit" class="upload-btn" id="video-upload-btn">
            Upload Video
          </button>
        </form>
        <div class="capture-container">
          <video id="video-capture" autoplay muted></video>
          <button id="start-record-btn">Start Recording</button>
          <button id="stop-record-btn" disabled>Stop Recording</button>
        </div>
      </div>

      <!-- Results Section -->
      <div id="results" class="results-container">
        <!-- The results will be displayed here after submission -->
      </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
